
.nav-list{
    list-style-type: none;
    display: flex;

}
.nav-link{ 
    text-decoration: none;
        padding: 10px 15px;
    color: #333;
}
.nav-link.active{
    background-color: #3498db;
    color: white;
}
.nav-link:hover{
    background-color: #f0f0f0;
    color: #349
    8db;
}

.nav-list li:not(:last-child)::after{
    content: "|";
    color: #ccc;
    margin-left: 10px;
}